/*
fd5139
fd6e5d
ffe1dc
*/

@font-face {
  font-family: 'Career';
  src: url('assets/career.eot');
  src: url('assets/career.woff2') format('woff2'),
     url('assets/career.woff') format('woff'),
     url('assets/career.ttf')  format('truetype'),
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bolder;
  font-family: 'career', serif;
  font-style: italic;
}

.big-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  z-index: 1;
  max-width: 250px;
}

.color-divider {
  display: flex;
}

.color-divider div {
  height: 300px;
  flex: 1 1 auto;
}

.copy-divider {
  display: flex;
  border-top: 3px solid #000815;
}

.copy-divider div {
  flex: 0 1 33%;
  padding: 30px 60px;
}

.copy-divider div h1 {
  font-size: 2.25em;
  margin-bottom: 5px;
}

.copy-divider div p {
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: lighter;
  margin: 0;
  line-height: 1.4;
}

.header {
  display: flex;
  height: 60px;
  flex: 1 1 auto;
  border-bottom: 3px solid #000815;
}

.header div {
  flex: 0 1 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .nav {
  justify-content: flex-start;
}

.header .nav a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 0 40px;
  transition: all 0.3s ease;
}

.header .nav a:hover {
  color: #ebff00;
}

.header .social-links {
  justify-content: flex-end;
}

.header .social-links a {
  font-size: 1.75em;
  margin: 0 20px;
  color: #fff;
  transition: all 0.3s ease;
}

.header .social-links a:hover {
  color: #ebff00;
}

.home {
  display: flex;
  height: 500px;
  width: 100vw;
  position: relative;
  user-select: none;
}

.little-logo {
  position: relative;
}

.little-logo a {
  font-size: 1em;
  line-height: 1em;
  position: absolute;
  top: 8.5px;
  z-index: 1;
}

.little-logo img {
  height: 80px;
  ransition: all 0.3s ease;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: -50%;
  width: 220px;
  height: 367px;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.section {
  width: 100%;
}

.red {
  background-color: #fd5139;
  color: #fff;
}

.red-medium {
  background-color: #fd6e5d;
  color: #fff;
}

.red-light {
  background-color: #ffe1dc;
  color: #fd5139;
}

.white {
  color: #fd5139;
  background-color: #fff;
}
