/*
fd5139
fd6e5d
ffe1dc
*/

@font-face {
  font-family: 'Career';
  src: url('assets/career.eot');
  src: url('assets/career.woff2') format('woff2'),
     url('assets/career.woff') format('woff'),
     url('assets/career.ttf')  format('truetype'),
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bolder;
  font-family: 'career', serif;
  font-style: italic;
}

.big-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  z-index: 1;
  max-width: 250px;
}

.brand-list {
  background-color: #000911;
  border-bottom: 10px solid #fd5139;
  border-top: 10px solid #fd5139;
  padding: 50px 0 20px;
  text-align: center;
}

.brand-list h3.red {
  color: #fd5139;
  background-color: initial;
  text-align: center;
}

.brands {
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
  width: 600px;
}

.brands > span {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
}

.brand-list h3.white {
  color: #fff;
  background-color: initial;
  text-align: center;
}

.color-divider {
  display: flex;
}

.color-divider div {
  height: 300px;
  flex: 1 1 auto;
}

.copy-divider {
  display: flex;
}

.copy-divider div {
  flex: 0 1 33%;
  padding: 30px 60px;
}

.copy-divider div h1 {
  font-size: 2.25em;
  margin-bottom: 5px;
}

.copy-divider div p {
  font-family: sans-serif;
  font-size: 1.3em;
  font-weight: lighter;
  margin: 0;
  line-height: 1.4;
}

.fancy-title {
  font-size: 3rem;
  line-height: 1;
  letter-spacing: 0;
  margin-bottom: 1rem;
}

.follow {
  padding: 30px 0;
  text-align: center;
}

.follow h3 {
  color: #000911;
}

.follow button {
  background-color: #fff;
  border: 3px solid #fd5139;
  border-radius: 0;
  color: #fd5139;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  padding: 14px 14px 32px;
  text-transform: none;
}

.footer {
  border-top: 10px solid #000911;
  background: #fd5139;
  color: #000911;
  padding: 30px 0 15px;
  text-align: center;
}

.footer h3.red {
  margin-bottom: 35px;
}

.footer .disclaimer {
  font-size: 12px;
  margin: 0;
}

.full-portfolio {
  border: 4px solid #fd5139;
  color: #fd5139;
  display: inline-block;
  font-size: 28px;
  line-height: 24px;
  margin: 30px 0 60px;
  padding: 15px 40px;
  text-decoration: none;
}

.header {
  display: flex;
  height: 65px;
  flex: 1 1 auto;
  margin: 20px 0 15px;
}

.header div {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header div:first-of-type {
  flex: 0 0 340px;
}

.header div:last-of-type {
  flex: 0 0 140px;
}

.header div.nav {
  display: flex;
  justify-content: flex-start;
}

.header div.nav a {
  flex: 1 1 auto;
  color: #fff;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease;
  font-size: 18px;
}

.header div.nav a:hover {
  color: #ebff00;
}

.header div.social-links {
  justify-content: flex-end;
}

.header div.social-links a {
  font-size: 1.75em;
  margin: 0 20px;
  color: #fff;
  transition: all 0.3s ease;
}

.header div.social-links a:hover {
  color: #ebff00;
}

.home {
  background-color: #fd5139;
  display: flex;
  height: 500px;
  position: relative;
  width: 100vw;
  user-select: none;
}

.little-logo a {
  font-size: 1em;
  line-height: 1em;
}

.little-logo img {
  height: 50px;
  transition: all 0.3s ease;
}

.logo-container {
  position: absolute;
  top: 50%;
  left: -50%;
  width: 220px;
  height: 367px;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.hero-title {
  position: relative;
  font-size: 24px;
  text-align: center;
  padding: 25px;
}

.hero-title h2 {
  font-family: 'Noto Serif', serif;
  font-size: 42px;
  color: #000911;
  padding: 55px 0 5px;
  font-weight: 700;
}

.section {
  width: 100%;
}

.red {
  background-color: #fd5139;
  color: #fff;
}

.red-medium {
  background-color: #fd6e5d;
  color: #fff;
}

.red-light {
  background-color: #ffe1dc;
  color: #fd5139;
}

.text-center {
  text-align: center;
}

.three-reasons {
  border-bottom: 17px solid #000911;
  border-top: 17px solid #000911;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
}

.three-reasons .three-columns {
  display: flex;
  flex: 1 1 auto;
}

.three-reasons .three-column {
  padding: 70px 10px 20px;
  flex: 1 1 auto;
  display: flex;
}

.three-reasons .three-column > h2 {
  color: #fd5139;
  font-size: 150px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 0.7;
  margin-right: 20px;
}

.three-reasons .three-column > div {
  flex: 1 1 auto;
}

.three-reasons .three-column > div > p {
  line-height: 1.25;
}

.white {
  color: #fd5139;
  background-color: #fff;
}

.work-gallery {
  padding-top: 20px;
}

.work-gallery h2 {
  color: #fd5139;
  font-size: 5.5rem;
  letter-spacing: 0;
  margin-bottom: 70px;
  text-align: center;
  width: 100%;
}

.work-gallery .work-columns {
  display: flex;
  justify-content: space-between;
  padding-left: 7rem;
  padding-right: 7rem;
}

.work-gallery .work-column {
  flex: 1 1 33%;
}

.work-gallery .work-column.info {
  padding-left: 40px;
  padding-right: 40px;
}

.work-gallery .work-column .right-info {
  text-align: right;
}

.work-gallery .work-image {
  height: 340px;
  width: 100%;
  background-color: #fd5139;
}